body {
    margin: 0;
    padding: 0;
}

.wrap {
    overflow: hidden;
    height: 85%;
}

.spin {
    left: 32%;
}

.stext{
    height: 100px;
    padding-top: 130px;
    left: 33.5%;
}

.stext, .spin {
    top:25%;
     position: absolute;
}

.s {
    -webkit-animation: rotator 10s infinite linear;
    -moz-animation: rotator 10s infinite linear;
    -o-animation: rotator 10s infinite linear;
}

@-webkit-keyframes rotator {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes rotator {
    from { -moz-transform: rotate(360deg)  }
    to { -moz-transform: rotate(0deg)  }
}
@-o-keyframes rotator {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0deg); }
}