body {
    margin: 0;
    padding: 0;
}

.wrap {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: 90%;
}

.wrap img {
    height: 80%;
}

.spin {
    -webkit-animation: rotator 10s infinite linear;
    -moz-animation: rotator 10s infinite linear;
    -o-animation: rotator 10s infinite linear;
}

@-webkit-keyframes rotator {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes rotator {
    from { -moz-transform: rotate(360deg)  }
    to { -moz-transform: rotate(0deg)  }
}
@-o-keyframes rotator {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0deg); }
}