{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />

<ul class="wrap">
    <li class="layer" data-depth="1.00">
        <img src="{% static "images/orbit.png" %}" alt="Sterexy"/>
    </li>
    <li class="layer" data-depth="0.4">
        <img src="{% static "images/sterexy.png" %}" alt="Sterexy"/>
    </li>
</ul>

<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "js/jquery.parallax.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/parallax.js" %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.wrap').parallax({
            calibrateX: false,
            calibrateY: true,
            invertX: false,
            invertY: true,
            limitX: false,
            limitY: 10,
            scalarX: 2,
            scalarY: 10,
            frictionX:0.04,
            frictionY: 0.01
        });
    });
</script>
